/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  height: 70vh;
  width: 100%;
  background: url(./assets/images/background.jpg) no-repeat;
  background-size: cover;
  background-position-y: center;
  background-color: grey;
  color: white;
  text-align: center;
  position: relative;
}
.header h1 {
  font-weight: bold;
  font-size: 2rem;
}
.header p {
  padding-top: 1rem;
}
.header form {
  padding-bottom: 3rem;
  margin: 0 auto;
}
.header form select {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.header form .rental-filter {
  background-color: rgba(216, 216, 216, 0.7);
  padding: 0 0.5rem;
  padding-right: 0;
  margin: 0 auto;
}
.header form .input {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  text-shadow: 0px 1px 0px #ffffff;
  border: none;
  justify-content: space-between;
}
.header form button {
  background-color: green;
  color: white;
  opacity: 0.7;
  border: none;
  margin-left: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

#burger {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  opacity: 0.6rem;
  border-radius: 0.2rem;
  background-color: #d8d8d8;
  z-index: 2;
}
#burger div {
  height: 10px;
  width: 80%;
  background-color: aqua;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  form .rental-filter {
    max-width: 600px;
  }
  form select,
form input {
    margin-bottom: 0.5rem;
  }
  form button {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
  }

  .header form .rental-filter {
    padding: 0 1rem;
    padding-right: -5rem;
  }

  .header form button {
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  form {
    display: flex;
    flex-direction: column;
  }

  select,
.input {
    width: 100%;
  }

  input {
    max-width: 410px;
  }

  .header form .rental-filter {
    max-width: 430px;
  }
}
/* ----------------------------------------------------------------- */
/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #ffffff;
  padding-top: 60px;
  transition: right 0.5s ease;
}
.sidenav ul li {
  text-align: left;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon i {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: black;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: #111 1px solid;
  transition: 0.4s;
}
.burger-icon i:hover {
  background-color: rgb(218, 218, 218);
  color: rgb(77, 77, 77);
  border: none;
}

main {
  max-width: 900px;
  margin-bottom: 1rem;
  margin: 1rem auto;
  justify-content: center;
}
main .filter-car select {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
main .filter-car select:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
main .car-details {
  margin-bottom: 2rem;
}
main .infos span {
  font-weight: bold;
  font-size: 1.5rem;
}
main .car-details_img i {
  margin: auto 0;
  cursor: pointer;
}
main .car-details__infos {
  margin: auto 2rem;
}
main .car-details__infos h2 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
main .car-details__infos p {
  margin-top: 0.5rem;
}
main .car-details__infos button {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 0.6rem;
  margin-top: 1rem;
}
main .car-details__infos button:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}

@media only screen and (max-width: 768px) {
  main {
    margin: 2rem 3rem;
  }

  main .car-details__infos {
    margin: auto 0;
  }

  .car-details {
    display: flex;
    justify-content: space-between;
  }

  .car-details__infos h2, .car-details__infos p {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  main {
    margin: 2rem 3rem;
  }

  main .car-details__infos {
    margin: auto 0;
  }

  .car-details_img img {
    height: 100px;
  }

  .car-details__infos button {
    font-size: 12px;
  }
}
footer {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 500px;
  box-sizing: border-box;
}
footer img {
  height: 100px;
  margin-right: 3rem;
}
footer span {
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 500px) {
  footer {
    margin: 2rem 3rem;
    font-size: 12px;
  }
}
/* === REUSABLE CLASSES === */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

body {
  font-family: sans-serif;
}

/*# sourceMappingURL=style.css.map */
