.header {
    height: 70vh;
    width: 100%;
    background: url(./assets/images/background.jpg) no-repeat;
    background-size: cover;
    background-position-y: center;
    background-color: grey;
    color: white;
    text-align: center;
   // padding-top: 1rem;
    position: relative;


    h1 {
        font-weight: bold;
        font-size: 2rem;
    }

    p {
        padding-top: 1rem;
    }

    form {
        padding-bottom: 3rem;
        margin: 0 auto;

        select {
            box-shadow: inset 0px 1px 0px 0px #ffffff;
            background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
            background-color: #f9f9f9;
            border-radius: 6px;
            border: 1px solid #dcdcdc;
            display: inline-block;
            cursor: pointer;
            color: #666666;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: .5rem;
            text-decoration: none;
            text-shadow: 0px 1px 0px #ffffff;
        }


        .rental-filter {
            background-color: rgba($color: #d8d8d8, $alpha: .7);
            padding: 0 .5rem;
            padding-right: 0;
            margin: 0 auto;
        }

        .input {
            cursor: pointer;
            font-weight: bold;
            padding: .5rem;
            text-shadow: 0px 1px 0px #ffffff;
            border: none;
            justify-content: space-between;
        }

        button {
            background-color: green;
            color: white;
            opacity: .7;
            border: none;
            margin-left: 1rem;
            padding: 1rem 2rem;
            cursor: pointer;
        }


    }
}

#burger {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    opacity: .6rem;
    border-radius: .2rem;
    background-color: #d8d8d8;
    z-index: 2;

    div {
        height: 10px;
        width: 80%;
        background-color: aqua;
        margin: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    form {
        .rental-filter {
            max-width: 600px;


        }

        select,
        input {
            margin-bottom: .5rem;
        }

        button {
            width: 100%;
            box-sizing: border-box;
            margin-left: 0;
        }
    }

    .header form .rental-filter {
        padding: 0 1rem;
        padding-right: -5rem;
    }

    .header form button {
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    form {
        display: flex;
        flex-direction: column;
    }

    select,
    .input {
        width: 100%;
    }

    input {
        max-width: 410px;
    }

    .header form .rental-filter {
        max-width: 430px;
    }
}

/* ----------------------------------------------------------------- */

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #ffffff;
    padding-top: 60px;
    transition: right 0.5s ease;

    ul {
        li{
            text-align: left;
        }
    }
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon{
    i{
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        color: black;
        padding: .5rem;
        border-radius: .3rem;
        border: #111 1px solid;
        transition: .4s;

        &:hover{
            background-color: rgb(218, 218, 218);
            color: rgb(77, 77, 77);
            border: none;
        }
    }
}