@import "./reset.scss";
@import "./header.scss";
@import "./cars.scss";
@import "./footer.scss";

/* === REUSABLE CLASSES === */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

body{
    font-family: sans-serif;
};